:root{
    --blanco:#ffffff;
    --negro:#000000;
    --morado:rebeccapurple;
    --secundario: #0097a7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%);
}
.titulo{
    text-align: center;
    justify-content: center;
    font-size: 3.8rem;
    /*text-transform: uppercase;*/
}
.subtitulo{
    color: var(--blanco);
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
}.titulo span{
    color: var(--morado);
    font-size: 2rem;
}
.subtitulo span{
    font-size: 1.5rem;;
    color: orangered;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--morado);
}
.barra{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .barra{
        flex-direction: row;
        justify-content: space-between;
    }  
}
.barra a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}
.barra a:hover{
    background-color: var(--secundario);
    color: var(--negro);
}
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 450px;
    position: relative;
}
.contenedor-hero{
    position: absolute;
    background-color: rgb(0,0,0, .7);
    background-color: rgb(0 0 0 0 / 70%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor-hero p, .contenedor-hero a{
    color: var(--blanco);}
.contenedor-hero .p1{
    font-weight: bold;
    text-decoration: underline;
}
.contenedor-hero .p2{
   margin-left: 1rem;
}
.fot  a{
    color: var(--negro)
}
.ubicacion {
    display: flex;
    align-items: flex-end;
}
.boton{
    background-color: var(--morado);
    padding: 1rem 3rem;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    width: 80%;
    text-align: center;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}
.boton:hover{
    background-color: var(--secundario);
}
.sombra{
    -webkit-box-shadow: -7px 11px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 11px 22px -1px rgba(0,0,0,0.75);
    box-shadow: -7px 11px 22px -1px rgba(0,0,0,0.75);
    padding: 3rem;
    background-color: var(--blanco);
    border-radius: 1rem;
}
@media (min-width: px) {
    
}
.Productos{
    text-align: center;
    display: grid;
    margin: 6rem;
}
@media (min-width: 768px) {
    .Productos{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}
.contacto{
    background-color: var(--morado);
    padding: 3rem;
    color: var(--blanco);
    text-align: center;
}